[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycairo = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.7"
